@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="body-padding center">
        <h1>Logging with ElasticSearch and Serilog using ASP.NET Core 3.1</h1>
        <p><a href="/restcall">Make a rest call</a></p>
    </div>
</div>